Django==4.2

# Библиотека для защиты паролей
python-dotenv

# Библиотека для подключения к БД
psycopg2-binary

# Для редактирования кода под PIP8
black

# Планировщик задач от Django для работы на OC Windows
# https://pypi.org/project/django-apscheduler/
django-apscheduler

# Библиотека для управления переменными окружения и хранения кондефициальной
# информации, такие как ключи API, пароли и т.д.
python-dotenv

# Библиотека для работы с изображениями
pillow

# Пакет для работы с номерами, после установки необходимо внести
# в настрйоки проекта INSTALLED_APPS = [..., 'phonenumber_field', ...,]
django-phonenumber-field

# Интерактивная оболочка для языка программирования Python, которая
# предоставляет расширенную интроспекцию, дополнительный командный синтаксис,
# подсветку кода и автоматическое дополнение
ipython