{% extends 'mailing/client_base.html' %}
{% block content %}


<div class="container-sm col-md-8 mx-auto">
    <div class="row">
        <div class="col-8 mx-auto">
            <form class="row" method="post" enctype="multipart/form-data">
                <div class="card">
                    <p class="p-2 fs-4 card-text mx-auto">Клиент</p>
                    <div class="card-body">

                        {% csrf_token %}
                        {{ form.as_p }}
                    </div>
                    <button type="submit" class="btn btn-primary">
                        {% if object %}
                        Сохранить
                        {% else %}
                        Создать
                        {% endif %}
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>
{% endblock %}
