{% extends 'mailing/mailing_base.html' %}
{% block content %}


{% for object in object_list %}
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{ object.mailing_name }}</h5>
        <p class="card-text">{{ object.message }}</p>
        <div class="card-footer">
            <a class="btn btn-primary mb-2"
               href="{% url 'mailing:mailing_detail' object.pk %}"
               role="button">Открыть</a>

            <a class="p-2 btn btn-warning mb-2"
               href="{% url 'mailing:mailing_update' object.pk %}"
               role="button">Редактировать</a>

            <a class="p-2 btn btn-danger mb-2"
               href="{% url 'mailing:mailing_delete' object.pk %}"
               role="button">Удалить</a>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}


