{% extends 'mailing/mailing_base.html' %}
{% block content %}

<div class="card-container" style="display: flex; gap: 1rem; flex-wrap: wrap;">
    {% for object in object_list %}
        {% if user == object.owner or perms.users.can_edit_is_active_users and perms.mailing.can_disable_mailing_status %}
        <div class="card" style="width: 18rem;">

            <div class="card-body">
                <h5 class="card-title">{{ object.mailing_name }}</h5>
                <p class="card-text">{{ object.message }}</p>

                <div class="card-footer">

                    {% if perms.mailing.view_mailing %}
                    <a class="btn btn-primary mb-2"
                       href="{% url 'mailing:mailing_detail' object.pk %}"
                       role="button">Открыть</a>
                    {% endif %}

                    {% if perms.mailing.view_mailing %}
                        {% if object.mailing_status == 2 %}
                        <button class="btn btn-secondary mb-2" disabled>Отключено</button>
                        {% else %}
                        <a class="btn btn-warning mb-2"
                           href="{% url 'mailing:cancel_mailing' object.pk %}"
                           role="button">Отключить</a>
                        {% endif %}
                    {% endif %}

                    {% if perms.mailing.change_mailing %}
                    <a class="p-2 btn btn-warning mb-2"
                       href="{% url 'mailing:mailing_update' object.pk %}"
                       role="button">Редактировать</a>
                    {% endif %}

                    {% if perms.mailing.delete_mailing %}
                    <a class="p-2 btn btn-danger mb-2"
                       href="{% url 'mailing:mailing_delete' object.pk %}"
                       role="button">Удалить</a>
                    {% endif %}

                </div>
            </div>

        </div>
        {% endif %}
    {% endfor %}
</div>

{% endblock %}


