{% extends 'mailing/mailing_base.html' %}
{% block content %}

<div class="card">

    <div class="card-body">
        <h5 class="card-title">{{ object.mailing_name }}</h5>
        <p class="card-text">Дата и время отправки рассылки:
            {{object.datetime_first_mailing}}</p>
        <p class="card-text">Дата и время следующей отправки рассылки:
            {{object.next_datetime_mailing}}</p>
        <p class="card-text">Дата и время последней отправки рассылки:
            {{object.last_datetime_mailing}}</p>
        <p class="card-text">Период рассылки:
            {{ object.get_period_mailing_display }}</p>
        <p class="card-date">Статус рассылки:
            {{ object.get_mailing_status_display }}</p>
        <p class="card-date">Сообщение рассылки: {{object.message}}</p>

        {% if perms.mailing.can_disable_mailing_status or perms.users.can_edit_is_active_users %}
        <h6 class="card-date">Владелец рассылки: {{object.owner}}</h6>
        {% endif %}


        <div class="card-footer">

                {% if perms.mailing.view_mailing %}
                <a class="btn btn-primary mb-2"
                   href="{% url 'mailing:mailing_detail' object.pk %}"
                   role="button">Открыть</a>
                {% endif %}

                {% if perms.mailing.view_mailing %}
                    {% if object.mailing_status == 2 %}
                    <button class="btn btn-secondary mb-2" disabled>Отключено</button>
                    {% else %}
                    <a class="btn btn-warning mb-2"
                       href="{% url 'mailing:cancel_mailing' object.pk %}"
                       role="button">Отключить</a>
                    {% endif %}
                {% endif %}

                {% if perms.mailing.change_mailing %}
                <a class="p-2 btn btn-warning mb-2"
                   href="{% url 'mailing:mailing_update' object.pk %}"
                   role="button">Редактировать</a>
                {% endif %}

                {% if perms.mailing.delete_mailing %}
                <a class="p-2 btn btn-danger mb-2"
                   href="{% url 'mailing:mailing_delete' object.pk %}"
                   role="button">Удалить</a>
                {% endif %}

             {% if perms.mailing.view_mailing %}
                <a class="btn btn-primary mb-2"
                   href="{% url 'mailing:mailing_list' %}"
                   role="button">Назад</a>
                {% endif %}


        </div>
    </div>
</div>

{% endblock %}


