{% extends 'users/user_base.html' %}
{% block content %}

<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">email</th>
        <th scope="col">Телефон</th>
        <th scope="col">Страна</th>
        {% if perms.mailing.can_disable_mailing_status and perms.users.can_edit_is_active_users %}
        <th scope="col">Блокировка</th>
        {% endif %}

    </tr>
    </thead>
    {% for object in object_list %}
    <tbody>
    <tr>
        <th scope="row">{{ object.pk }}</th>
        <td> {{object.email }}</td>
        <td>{{ object.phone }}</td>
        <td>{{ object.a_country }}</td>

        {% if perms.mailing.can_disable_mailing_status and perms.users.can_edit_is_active_users %}
        <td>
            <button type="submit" class="p-2 btn btn-danger">
                Заблокировать
            </button>
        </td>
        {% endif %}
    </tr>
    </tbody>
    {% endfor %}
</table>

{% endblock %}