<footer class="text-muted">
    <div class="container">
        <p id style="display: flex; justify-content: flex-end;" >
            <a href="#top">Вернуться на вверх</a>
        </p>
        <div class="col-12 col-md">
            СОВА
            <small class="d-block mb-3 text-muted">&copy;
                2023 - {% now 'Y'%}</small>
        </div>
        <p>Остались вопросы? <a href="/">Свяжитесь с нами</a> или <a
                href="/">прочитайте наше
            руководство по началу работы</a>.
        </p>
    </div>
</footer>