<header>
    <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4 class="text-white">Сова </h4>
                    <p class="text-muted">Почтовый сервис рассылок "Сова",
                        поможет вам привлечь аудиторию, наладить коммуникацию
                        и лидогенерацию.
                    </p>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <h4 class="text-white">Меню</h4>
                    <ul class="list-unstyled">
                        <li><a class="text-white"
                               href="/"
                               role="button">Главная</a>
                        </li>
                        <li><a href="{% url 'mailing:mailing_list' %}"
                               class="text-white">Рассылки</a>
                        </li>
                        <li><a href="{% url 'mailing:client_list' %}"
                               class="text-white">Клиенты</a></li>
                        <li><a href="{% url 'mailing:message_list' %}"
                               class="text-white">Сообщения</a>
                        </li>
                        <li><a href="#"
                               class="text-white">Зарегистрироваться</a></li>
                        <li><a href="/admin/" class="text-white">Администрирование</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
            <a href="{% url 'mailing:mailing_list' %}"
               class="navbar-brand d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                     fill="currentColor" class="bi bi-envelope"
                     style="margin-right: 10px;"
                     viewBox="0 0 16 16">
                    <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z"></path>
                </svg>
                <strong>Рассылки</strong>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarHeader" aria-controls="navbarHeader"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</header>