<section class="jumbotron text-center">
        <div class="container">
            <h1>СОВА</h1>
            <p class="lead text-muted">Превратите свои цели в реальность с нашим
                мощным и легким в использовании сервисом рассылок</p>
            <p>

                {% if user.is_authenticated and perms.mailing.view_client %}
                <a class="btn btn-primary my-2"
                   href="{% url 'mailing:client_list' %}"
                   role="button">Клиенты</a>
                {% endif %}

                {% if user.is_authenticated and perms.users.view_user %}
                <a class="btn btn-primary my-2"
                   href="{% url 'users:user_list' %}"
                   role="button">Пользователи</a>
                {% endif %}

                {% if user.is_authenticated and perms.mailing.view_message %}
                <a class="btn btn-primary my-2"
                   href="{% url 'mailing:message_list' %}"
                   role="button">Сообщения</a>
                {% endif %}

                {% if user.is_authenticated %}
                <a class="btn btn-primary my-2"
                   href="{% url 'blog:blog_list' %}"
                   role="button">Блог</a>
                {% endif %}

                {% if user.is_authenticated and perms.mailing.view_mailing %}
                <a class="btn btn-primary my-2"
                   href="{% url 'mailing:mailing_list' %}"
                   role="button">Рассылки</a>
                {% endif %}

                {% if user.is_authenticated %}
                <a class="btn btn-primary my-2"
                   href="{% url 'mailing:mailing_attempt_list' %}"
                   role="button">Попытки рассылки</a>
                {% endif %}

                <a href="/" class="btn btn-secondary my-2">На главную</a>

            </p>
        </div>
    </section>